<!doctype html>

<html lang="en">

<head>
	<title> {{htmlWebpackPlugin.options.data.projectPrettyName }} - {{htmlWebpackPlugin.options.data.version }}</title>
</head>

<body>

	<header>
		<div class="logo"></div>
		<h1 class="version">{{htmlWebpackPlugin.options.data.projectPrettyName }} - {{htmlWebpackPlugin.options.data.version }}</h1>
	</header>

	<main>
	{{#each htmlWebpackPlugin.options.data.sizes }}
	<article class="size">

		<figure>
			<figcaption> {{ @key }} - {{ ../htmlWebpackPlugin.options.data.projectPrettyName }} </figcaption>
			<img src="../{{ @key }}/screenshot.jpg" alt="Cat" title="cat" />
		</figure>

		<ul>
			<li>
				<a class="local-link" href="../{{ @key }}/" > {{ @key }} Preview </a>
			</li>
			{{#if this.link }}
			<li>
				<a class="sizmek-link" href="{{ this.link }}" > {{ @key }} on {{ ../htmlWebpackPlugin.options.data.platform }} </a>
			</li>
			{{/if}}
			<li>
				<a class="zip-link" href="../zip/{{ @key }}-{{ ../htmlWebpackPlugin.options.data.projectname }}-{{ ../htmlWebpackPlugin.options.data.version }}.zip" > {{ @key }} Zip File Download </a>
			</li>
		</ul>

	</article>

	{{/each}}

	</main>

	<aside>
		<a class="all-link" href="../zip/all-{{ htmlWebpackPlugin.options.data.projectname }}-{{ htmlWebpackPlugin.options.data.version }}.zip" > Download All Zip Files for {{htmlWebpackPlugin.options.data.projectPrettyName }} </a>
	</aside>



</body>

</html>